form {
    margin: 20px; 
    display: flex;
    flex-direction: column;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    color: black;
    background: #FFE2D1;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
}

.login-box h1 {
    color: black;
    font-size: 2em;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

button {
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.2em;
}

.petr-logo {
    margin: 0 auto;
}